@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%; /* Full height for the root elements */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

#app {
    height: 100%; /* Full height for the app container */
    background-color: rgb(52, 53, 65); /* Set your desired background color */
}

.flex.flex-col.h-full {
    min-height: 100%; /* Ensure the flex container takes at least the full height */
}

* {
  border-width: 0;
  box-sizing: border-box;
}

.simulai [contenteditable='true']:focus-visible,
.simulai [contenteditable='true']:focus {
  outline: none;
}

.simulai [contenteditable]:empty:after {
  content: attr(data-ph);
  color: rgba(0, 0, 0, 0.2);
  cursor: text;
}

.simulai p,
pre.simulai-md {
  margin: 0;
}

pre.simulai-md {
  font-family: theme('fontFamily.mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
  font-size: 1em;
}

.simulai-ghost {
  opacity: 1;
  background: #F5F5F5;
}

.simulai .ProseMirror:focus p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
